/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

#alert {
	position: fixed;
	top: 7%;
	left: 42%;
	width: 16vw;
	height: 8vh;
	border-radius: 15px;
	color: white;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 3px 10px black;
}

.edition{
	transition-duration: 2s;
	background-color: black;
	width: 100%;
	height: 0vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.edition p{
	color: white;
	font-size: 16px;
	white-space: nowrap;
}
.edition p i{
	margin-right: 6%;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav li img{
	height: 3vh;
}

/* #log {

} */

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}


.div-title-gallery {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.div-title-gallery p {
	width: 10%;
	margin-left: 1vw;
	font-size: 14px;
	font-family: Work Sans;
	font-weight: 400;
	word-wrap: break-word;
	cursor: pointer;
	visibility: hidden;
}

.div-title-gallery p i {
	margin-right: 4%;
}

.div-title-gallery h2 {
	margin-left: 6vw;
	font-family: 'Syne';
}


/* ******************************************************* */
.filter {
	width: auto;
	height: auto;
	margin-bottom: 5%;
	margin-top: 5%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.filter button {
	font-family: syne;
	color: #1D6154;
	border: solid 1px #1D6154;
	background-color: transparent;
	border-radius: 60px;
	margin: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	font-size: 1.11vw;
	cursor: pointer;
}

/* ******************************************************* */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}


.modifier_interface{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}
.modifier_interface div{
	position: relative;
}

.modifier_interface .content{
	width: 35%;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
}

.modifier_interface div .list_works{
	width: 87%;
	height: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.modifier_interface div .list_works figure{
	margin: 1%;
	padding: 0;
	position: relative;
}
.modifier_interface div .list_works figure img{
	width: 105px;
}
.modifier_interface div .list_works figure i{
	color: white;
	background-color: black;
	width: 23%;
	aspect-ratio: 1/1;
	font-size: 0.8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.modifier_interface div h2{
	margin-top: 10%;
	margin-bottom: 10%;
}
.modifier_interface div hr{
	border: none;
	width: 80%;
	height: 1px;
	margin: 5%;
	background-color: gray;
}
.modifier_interface div button{
	border: none;
	margin-bottom: 5%;
	width: 30%;
	height: 3.5vh;
	border-radius: 60px;
	background-color: #1D6154;
	color: white;
	font-size: 14px;
	cursor: pointer;
}
.modifier_interface div i{
	position: absolute;
	right: 5%;
	top: 5%;
	font-size: 1.2vw;
	cursor: pointer;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}